/*Especificidad 001*/
h2 {
    text-align: center;
}
/*Especificidad 001*/
main {
    margin: auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    text-align: center;
    padding-bottom: 2em;
}
/*Especificidad 002*/
main p {
    border: 0.1em solid #000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
}

p[data-state="empty"] {
    /*Warning de color, no hay problemas de contraste
    porque en estas casillas no hay texto, el color lo hereda de body*/
    background-color: #000;
}

section[data-type="botonera"] h2 {
    width: 100%;
    text-align: center;
}

section[data-type="botonera"] button {
    width: calc(15% - 1em);
    height: 4em;
    text-align: center;
    background-color: #000;
    color: #fff;
}


/*WARNING REDEFINICION DE DISPLAY????????¿?¿?¿?¿?¿?¿?¿?¿?¿?¿??¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿¿?¿?¿¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿??¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿?¿¿¿?¿¿¿?¿¿¿?¿¿¿?¿¿¿?¿¿¿?¿¿¿?¿¿¿?¿¿¿?¿?¿¿?¡*/
section[data-type="botonera"] {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 500px) {
    section[data-type="botonera"] {
        display: none;
    }

 
}
