 /*Daniel Andina Pailos UO287792*/

/**
COLORES
    BABY BLUE: #BFD7ED 
    BLUE GROTTO: #4c7ea7
    ROYAL BLUE: #0074B7
    NAVY BLUE: #002b53
 **/

/*Especificidad = 001*/
body {
    font-family:  'Segoe UI', Tahoma,  Verdana, sans-serif;
    background-color: #BFD7ED ;
    color: #002b53; 
}


/*Warning color no especificado,
 el texto contrasta correctamente,
 hereda de body*/
header {
    border-radius: 3em;
    background-color:#8BBCEA;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}



/*Especificidad = 001*/
h1 {
    font-size: 2em;
}

/*Especificidad = 001*/
h2 {
    font-size: 1.5em;
    font-weight: bolder;
}


/*Especificidad = 001*/
h3{
    font-size: 1.2em;
    font-weight: bolder;
}


/*Especificidad = 001*/
ol {
    list-style-type: upper-roman;
}

/*Especificidad = 002*/
ul ol{
    list-style-type: decimal-leading-zero;
}

/*Especificidad = 001*/
dt {
    font-weight: 500;
}

/*Especificidad = 001*/
ul{
    list-style-type: square;
}


/*Especificidad = 001*/
caption{
    font-style: italic;
    font-weight: lighter;
}

/*Especificidad = 001*/
a{
    /*redefine el color predeterminado del agente de usuario*/
    /* Warning de background-color no especificado, hereda de body*/
    color:  #002b53;
    
}


/*Especificidad = 011*/
a:hover{
    font-weight: bold;
}




/*Especificidad = 001*/
table{
    /* Warning de color por no tener un color especificado,
    este hereda de body y cumple con legibilidad */
    border: 3px solid #002b53;
    width: 50%;
    background-color: #0074b772 ;
}


/*Especificidad = 002*/
table td{
    text-align: center;
}
/*Especificidad = 001*/

video{
    max-width: 100%;
    height: auto;
}
/*Especificidad = 001*/

img{
    height: auto;
    max-width: 100%;
}