/* Especificidad 002 */
header nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1em;
    /* Gap completo */
} 

/* PX CUIDADINO */
/* Gap pequeño para moviles */
@media only screen and (max-width: 400px){
    header nav{
        gap: 1em  0.5em;
    }
}

/* Un gap un poco mayor para tablets o similar */
@media only screen and (max-width: 700px){
    header nav{
        gap: 1em  2em;
    }
}


