h2 {
    text-align: center;
    padding-top: 2em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%; 
    
  }
  
  article {
    width: 20%;
    text-align: center;
    height: 5em;
    border: 0.3em solid #0074B7;
    border-radius: 0.3em;
    transform-style: preserve-3d;
    transition: transform .5s;
    margin-bottom: 0.5em;
  }

  article[data-state="flip"],
  article[data-state="revealed"]{
    transform: rotateY(180deg);
  }
  
  article h3 {
    font-size: 0.7em;
    margin-bottom: 0.25em; 
    backface-visibility: hidden;
    transform: rotateX(0deg);
  }
  
  article img {
    max-width: 50%;
    max-height: 50%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  

  
  