h2 {
    text-align: center;
    padding-top: 2em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.25em; /* Ajusta según sea necesario */
    width:100%; /* Ajusta según sea necesario */
    
  }
  
  article {
    width: 20%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5em;
     /* Ajusta según sea necesario */
    border: 0.3em solid #0074B7;
    border-radius: 0.3em;

    transform-style: preserve-3d;
    transition: transform .5s;
  }

  article[data-state="flip"],
  article[data-state="revealed"]{
    transform: rotateY(180deg);
  }
  
  article h3 {
    font-size: 1em;
    margin-bottom: 0.25em;
    backface-visibility: hidden;
  }
  
  article img {
    max-width: 50%;
    max-height: 50%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  

  
  