section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  
  section>section {
    border: 0.5em solid #002b53;
    padding: 1em; 
    margin: 1em; 
    width: 17em; 
    box-sizing: border-box; 
    border-radius: 2em;

  }
  
  section > section p {
    margin: 1em 0;
    font-weight: bold;
  }