img{
    margin-left: 1em;
    max-width: 35%

}

section{
    max-width: 50%;
    margin-left: 1em;
}

section[data-element="map"]{
    min-height: 29em;
}

h3{
    font-weight: 600;
}

canvas{
    border-radius: 3em;
}

