img{
    margin-left: 1em;
}

section{
    max-width: 50%;
    max-width: 90%;
    margin-left: 1em;
}

section[data-element="map"]{
    min-height: 29em;
}

h3{
    font-weight: 600;
}

img{
    max-width: 35%
}

canvas{
    border-radius: 3em;
}


svg{
    min-zoom: 10em;
}